.oauth-application-card
  a.image-container(ui-sref="oauth-application.view({ application_id: $ctrl.application._id })")
    img.image(src='/images/application.png', alt='')
  .information
    h4.media-heading
      a(ui-sref="oauth-application.view({ application_id: $ctrl.application._id })") {{ $ctrl.application.name }}
    p
      strong {{ 'Redirect URI' | translate }}
      br
      span {{ $ctrl.application.redirectUri }}
    p
      strong {{ 'Client ID' | translate }}
      br
      span {{ $ctrl.application.clientId }}
    p
      strong {{ 'Client Secret' | translate }}
      br
      span {{ $ctrl.application.clientSecret }}
