.accounts.col-xs-12
  .row
    .block-header.flex-space-between.flex-vertical-centered.flex-wrap
      h2 {{ 'Accounts Management' | translate }}
      dynamic-fab-dropup(anchor='accounts-item-anchorpoint', ng-if="!error && hasAccountProvider")

    .col-xs-12.card(ng-if='!error && accounts.length')
      account-displayer(account='account', ng-repeat='account in accounts')

    .alert-container
      .message(ng-if="!error && !accounts.length")
        .alert-icon.mdi.mdi-database-plus
        .alert-text(ng-if="hasAccountProvider") {{ 'No account, click on the plus button to add a new one' | translate }}
        .alert-text(ng-if="!hasAccountProvider") {{ 'No social account provider is installed, contact administrator for more information' | translate }}
      .message(ng-if="error")
        .alert-icon.mdi.mdi-alert-circle
        .alert-text {{ 'A problem occurred while getting data, try refreshing this page' | translate }}
