.follow-button
  button.btn.btn-link.unfollow(type="submit", ng-click="following ? unfollow() : follow()")
    .follow-button-content(ng-if="following")
      i.mdi.mdi-account-minus
      span {{ 'Unfollow' | translate }}
    .follow-button-content(ng-if="!following")
      i.mdi.mdi-account-plus
      span {{ 'Follow' | translate }}
