form(name='form')
  fieldset
    .alert.bs-alert-danger(ng-if="form.confirmpassword._blur && form.confirmpassword.$error.unique") {{ 'The two passwords do not match' | translate }}
    .alert.bs-alert-success(ng-if="hasSucceeded") {{ 'Successfully reset your password. You will be redirected to the login page in a few seconds.' | translate }}
    .input-group.m-b-20
      span.input-group-addon
        i.mdi.mdi-lock
      .fg-line
        input.form-control(type='password', ng-model='credentials.password', name='password', placeholder="{{ 'Password' | translate }}", required, ng-disabled="hasSucceeded")
    .input-group.m-b-20
      span.input-group-addon
        i.mdi.mdi-lock
      .fg-line
        input.form-control(type='password', ng-model='credentials.confirmPassword', name='confirmpassword', password-match='credentials.password' placeholder="{{ 'Confirm your password' | translate }}", required, esn-track-first-blur, ng-disabled="hasSucceeded")
    .clearfix

    button.m-t-25.col-xs-12.btn.btn-accent(type='submit', esn-submit="resetPassword(form)") {{ 'Confirm' | translate }}
