div.small(ng-show='message.copyOf && message.copyOf.target || shareTargets.length > 0')
  p {{ 'This message has been shared to :' | translate }}
    span(ng-repeat='sharedTo in shareTargets')
      | &nbsp;
      a(ng-href='{{::sharedTo.htmlUrl}}') {{::sharedTo.displayName}}
