ul.actions(ng-show='::writable')
  li.dropdown
    a(href="" data-toggle="dropdown" aria-expanded="false")
      i.mdi.mdi-dots-vertical
    ul.dropdown-menu.dropdown-menu-right
      li.disabled(ng-show='::writable')
        a(title="{{ 'Soon available' | translate }}") {{ 'Remove' | translate }}
      li.disabled(ng-show='::writable')
        a(title="{{ 'Soon available' | translate }}") {{ 'Update' | translate }}
      li.disabled(ng-show='::writable')
        a(title="{{ 'Soon available' | translate }}") {{ 'Share' | translate }}
  .clearfix
