.multi-input-content
  .form-group(ng-repeat='item in content track by $index' resetable-input)
    .row
      .col-md-6.col-sm-9
        .fg-line
          input.form-control.multi-input-text(type='text', ng-model='item.street', placeholder="{{ 'Street' | translate }}", ng-model-options="{allowInvalid: true}", ng-change='verifyNew($index)', ng-focus="onFocusFn($index)", ng-blur="hideDeleteButton($index)")
      .col-md-3.col-sm-3
        .fg-line
          .select
            select.form-control.multi-input-type(
              ng-init="item.type = item.type || types[0]",
              ng-model='item.type',
              ng-options='type as (type | esnI18n) for type in types',
              ng-change="onTypeChange($index)"
            )
      .col-md-1
        .action-button
          i.clickable.mdi.mdi-close(ng-show="showDeleteButtonArray[$index]", ng-click="deleteField($index)")
          i.clickable.mdi.mdi-plus(ng-show="showAddButton[$index]", ng-click="addField()")
    .row      
      .col-md-3.col-sm-3
        .fg-line
          input.form-control(type='text', ng-model='item.zip', placeholder="{{ 'Zip' | translate }}", ng-model-options="{allowInvalid: true}", ng-change='verifyNew($index)', ng-focus="onFocusFn($index)", ng-blur="hideDeleteButton($index)")
      .col-md-6.col-sm-9
        .fg-line
          input.form-control(type='text', ng-model='item.city', placeholder="{{ 'City' | translate }}", ng-model-options="{allowInvalid: true}", ng-change='verifyNew($index)', ng-focus="onFocusFn($index)", ng-blur="hideDeleteButton($index)")
    .row
      .col-md-9
        .fg-line
          input.form-control(type='text', ng-model='item.country', placeholder="{{ 'Country' | translate }}", ng-model-options="{allowInvalid: true}", ng-change='verifyNew($index)', ng-focus="onFocusFn($index)", ng-blur="hideDeleteButton($index)")