form(name='form')
  fieldset
    .alert.bs-alert-danger(ng-if="hasFailed") {{ 'Cannot find that email.' | translate }}
    .alert.bs-alert-success(ng-if="hasSucceeded") {{ 'An email has successfully been sent. Please check your mailbox.' | translate }}
    .form-group(ng-show="!hasSucceeded")
      .input-group
        span.input-group-addon
          i.mdi.mdi-email
        .fg-line
          input.form-control(type='email', ng-model='input.email', name='email', placeholder="{{ 'Email' | translate }}", autofocus=true, required, esn-track-first-blur)
    .clearfix

    a.m-t-25.col-xs-12.btn.btn-warning(ng-click='resetPassword(form)', icon='new-user', color='warning', ng-disabled='running || hasSucceeded') {{ 'Reset password' | translate }}
